.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.MuiTableCell-root {
  padding: 8px !important;
}

.no-padding-field { 
  padding: 0px !important;
}

.back-to-top {
  font-size: 45px;
}

.news-loading{
  font-size: 100px;
}